body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 400px;
  margin: 0 auto;
}

.result {
  grid-column: 1 / 5;
  text-align: right;
  background-color: #858693;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: end;
}

.result p {
  margin: 0;
}

.container button {
  padding: 20px;
  border: 1px solid #d1d1d1;
}

.zero {
  grid-column: 1 / 3;
  background-color: #e1e1e0;
}

.btn-standart {
  background-color: #e1e1e0;
}

.btn-highlight {
  background-color: #f5903f;
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
}

.navMenu {
  display: flex;
  list-style: none;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 48px;
}

.navItem {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-right: 1px solid #172121;
  padding-right: 24px;
}

.homeContent h2 {
  margin-left: 24px;
}

.homeText {
  margin-left: 24px;
}

.calcContent h2 {
  margin-left: 24px;
}

.quoteContent {
  margin-left: 24px;
}
